body {
    background-color: #E4DFDA;
}
h1 {
    text-align: center;
    font-family: 'Merienda', sans-serif;
    color: #dd5fe9;
    font-size: 3em;
    font-weight: 700;
}

#main {
    background-color: white;
    margin: 30px 30px;
    border-radius: 15px;
    padding: 20px;
}

h3 {
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: #297373;
    margin-top: 0;
}

#texto-tarefa {
    border-color: #29335C;
    padding: 8px 20px;
}

#criar-tarefa {
    border-radius: 20px;
    font-family: 'Indie Flower', sans-serif;
    background-color: #f38cf8;
    border: 0;
    color: white;
    padding: 8px 8px;
    font-weight: 500;
    font-size: 13pt;
}
#criar-tarefa:hover {
    background-color: mediumvioletred;
}

.item {
    font-family: 'Handlee', sans-serif;
    font-size: 14pt;

}

.selecionado {
    width: 180px;
    border-radius: 5px;
}

#apaga-tudo {
    border-radius: 20px;
    font-family: 'Indie Flower', sans-serif;
    margin-right: 15px;
    margin-left: 20px;
    border: 0;
    color: white;
    padding: 8px 8px;
    font-weight: 500;
    font-size: 14pt;
    background-color: rgb(61, 5, 61);
    
}
#remover-finalizados {
    border-radius: 20px;
    font-family: 'Indie Flower', sans-serif;
    margin-right: 15px;
    border: 0;
    color: white;
    padding: 8px 8px;
    font-weight: 500;
    font-size: 14pt;
    background-color: #ec7070;
}

#salvar-tarefas {
    border-radius: 20px;
    font-family: 'Indie Flower', sans-serif;
    margin-right: 15px;
    border: 0;
    color: white;
    padding: 8px 8px;
    font-weight: 500;
    font-size: 14pt;
    background-color: #FB4B4E;
}

#mover-cima {
    border-radius: 20px;
    font-family: 'Indie Flower', sans-serif;
    margin-right: 15px;
    border: 0;
    color: white;
    padding: 8px 8px;
    font-weight: 500;
    font-size: 14pt;
    background-color: #357DED;
}

#mover-baixo {
    border-radius: 20px;
    font-family: 'Indie Flower', sans-serif;
    margin-right: 15px;
    border: 0;
    color: white;
    padding: 8px 8px;
    font-weight: 500;
    font-size: 14pt;
    background-color: #357DED;
}

#remover-selecionado {
    border-radius: 20px;
    font-family: 'Indie Flower', sans-serif;
    margin-right: 15px;
    border: 0;
    color: white;
    padding: 8px 8px;
    font-weight: 500;
    font-size: 14pt;
    background-color: #20A4F3;
}